<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
	
			<!-- REVOLUTION SLIDER -->
			<a name="home-nav"></a>

			<div class="slider fullwidthbanner-container roundedcorners">

				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE 1  HOME-->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Home">
							<!-- MAIN IMAGE -->
							<img src="assets/images/RE/Slide-1b.jpg"  alt="home slider image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="150"
								data-y="200" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:60px; text-align:center; color:#000; font-weight:800; text-shadow:1px 1px 5px blue, 0 0 1em red, 0 0 1em red;">
									WHERE THE SKY IS THE LIMIT! <br />
									
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="250"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; text-align:center; font-size:45px; color:#000; font-weight:500; text-shadow:1px 1px 2px blue, 0 0 1em red, 0 0 0.8em red;">
									Let us <strong>LIFT</strong> your project higher <br />
									
							</div>							

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="480"
								data-y="440" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-primary btn-xs" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE 2  Residential-->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential">
							<!-- MAIN IMAGE -->
							<img src="assets/images/RE/Slider_2.jpg" alt="Residential slider image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="145"
								data-y="200" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; text-align:center; font-size:60px; color:#000; font-weight:500; text-shadow:1px 1px 3px red, 0 0 1em blue, 0 0 1em blue;">
									Your best way to reach the top
							</div>
							
							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="120"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; text-align:center; font-size:25px; color:#000; font-weight:350; text-shadow:1px 1px 0.1px red, 0 0 1em blue, 0 0 1em blue;">
									You are tired walking up the stairs or you just want to <strong>LIFT</strong> the value of your home <br />
									Contact Us our team is the best in this field
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="150"
								data-y="440" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-primary bt-xs" href="/residential.html">RESIDENTIAL &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="830"
								data-y="440" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-xs" href="/quote.html#quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE 3  Commercial-->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Commercial">
							<!-- MAIN IMAGE -->
							<img src="assets/images/RE/Slider_3a.jpg" alt="Commercial slider image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="140"
								data-y="200" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; text-align:center; font-size:60px; color:#000; font-weight:500; text-shadow:1px 1px 3px blue, 0 0 1em red, 0 0 1em red;">
									Let us bring your people higher.
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="250"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; text-align:center; font-size:25px; color:#000; font-weight:350; text-shadow:1px 1px 0.4px blue, 0 0 1em red, 0 0 1em red;">
									We have a long history of excellence in partnership<br />
									Contact Us we will be please to be partner with you
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="150"
								data-y="440" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-primary btn-lg" href="/commercial.html">COMMERCIAL &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="850"
								data-y="440" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-lg" href="/quote.html#quoteform">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->
