<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Test de redirection R1  */
    </style>
  </head>

  <body>
    Test redirection R1
  </body>
</html>
